modules = ["cpp-clang14", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "C/C++"
author = 8572783
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "clang++ -std=c++17 -o output Learning_C_CPP/macro.cpp"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./output"
