modules = ["cpp-clang14", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["temurin-jre-bin-17", "openjdk17-bootstrap", "mono", "dotnetCorePackages.sdk_9_0", "php83", "openvpn", "zsh", "libcap"]

[workflows]
runButton = "Run Bash Script"

[[workflows.workflow]]
name = "Run Bash Script"
author = 8572783
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Learning CSharp\" & mono 1_lesson.cs"
